#profileimage {
    max-width: 250px;
    min-width: 220px;
}

#copyright {
    color: black;
    font-weight: 700;
}

#content {
    background-color: gray;
}

li {
    padding-top: 10px;
    padding-bottom: 10px;
}

#nav {
    background-color:white;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1070;
}

#thanks {
    color: black;
    font-weight: 700;
}

#downloadcv {
    background-color: red;
    color: black;
    font-weight: 700;
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 5px;
    padding-left: 5px;
    margin-bottom: -25px;
}

#topbtn {
    position:fixed;
    right: 10px;
    bottom: 5px;
    visibility:hidden;
    
    width:40px;
    height: 40px;
    border-radius: 50%;
}

#topbtn.show {
    visibility:visible;
}

#topbtn:hover {
    background-color: gray;
}
.stylelink {
    background-color: gray;
    border-color: black;
    color: aqua;
}

.arrowup {
    width:30px;
}
.icon {
    width: 20px;
    margin-right: 20px;
}

#maincontainer {
    position: relative;
}

@media (min-width: 768px) {
    
    #name {
        font-size: 80px
    }
    
    #info {
        font-size: 30px 
    }    
}
