  //Variables 

  $t-p: #040303; //RICH BLACK2a9142
  $spec: #EF233C; //red
  $b-p: #2B2D42; //dark blue
  $bt-s: #EDF2F4; //Gray-white
  $mt: 'Proza Libre',Helvetica, sans-serif;
  $et: 'Laila',Helvetica, sans-serif;
  $bt: Philosopher,Helvetica, sans-serif;

